/TheoreticalInformatics2.aux
/TheoreticalInformatics2.fls
/TheoreticalInformatics2.log
/TheoreticalInformatics2.fdb_latexmk
/TheoreticalInformatics2.synctex.gz
/TheoreticalInformatics2.toc
/TheoreticalInformatics2.upa
/TheoreticalInformatics2.upb
/TheoreticalInformatics2.pdf