/TheoreticalInformatics.aux
/TheoreticalInformatics.fls
/TheoreticalInformatics.log
/TheoreticalInformatics.fdb_latexmk
/TheoreticalInformatics.synctex.gz
/TheoreticalInformatics.toc
/TheoreticalInformatics.upa
/TheoreticalInformatics.upb
/TheoreticalInformatics.pdf